html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #35444C;
  overflow-x: hidden;
}
.clock .time {
  font-size: 10px;
}
.clock .date {
  font-size: 10px;
}
#timeDateText {
  font-size: 20px;
  color: #ffff;
}
.container {
  width: 100vw;
  height: 50vh;
  text-align: center;
  display: inline-block;
  background-image: linear-gradient(
      rgba(4, 10, 30, 0.712),
      rgba(4, 9, 30, 0.404)
    ),
    url("../assets/images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
}
.card-header {
  font-size: 25px;
  display: flex;
  flex-direction: column;
}
.card-title {
  margin-bottom: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-body {
  margin-top: 38px;
  position: relative;
}
#inputMovieTitle {
  width: 80%;
  height: 50px;
  border-radius: 20px;
  border: none;
}
input:focus {
  outline: none;
}
#inputMovieTitle[type="text"] {
  padding-left: 20px;
  font-size: 20px;
}
.btn-submit {
  width: fit-content;
  font-family: Raleway, sans-serif;
  border-radius: 16px;
  padding: 12px 24px;
  background-color: #fff;
  color: black;
  font-size: 24px;
  margin-top: auto;
  align-self: flex-end;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}
.btn-submit:hover {
  background-color: black;
  color: white;
}
.src-results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 20px auto;
}
.src-result {
  margin-bottom: 60px;
  width: 30%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(226, 221, 221, 0.4);
  overflow: hidden;
}
.src-result img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s ease-in-out;
}
.src-result:hover img {
  opacity: 0.5;
}
.src-result a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
  text-transform: capitalize;
  text-align: center;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;
}
@media screen and (max-width: 760px) {
  .src-results {
    padding: 20px;
  }
  .src-result {
    width: 45%;
  }
  #timeDateText {
    font-size: 16px;
  }
  .card-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .src-result {
    width: 100%;
  }
  .card-header {
    font-size: 16px;
  }
  .card-body {
    margin-top: 10px;
    font-size: 14px;
  }
  .card-title {
    font-size: 14px;
  }
  #inputMovieTitle {
    width: 50%;
    height: 30px;
  }
  #inputMovieTitle[type="text"] {
    padding-left: 10px;
    font-size: 10px;
  }
  .btn-submit {
    font-size: 10px;
    height: 30px;
  }
  #myBtn {
    width: 50px;
    height: 25px;
    font-size: 12px;
  }
  #timeDateText {
    font-size: 12px;
  }
}
